.App {
  text-align: center;
}

.App-header {
  background-color: #337ab7;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left-nav {
  width: 18%;
  //background-color: #dedeef;
  display: inline-block;
  margin-top: 10px;
  height: 40em;
  vertical-align: top;
}

.center-frame {
  width: 78%;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

.categories-list {
  list-style: none;
  padding-left: 0px;
}

.category {
  text-decoration: none;
  display: block;
  padding : 10px;
  text-align: left;
  //background-color: #337ab7;
  background-color: #2a9ee6;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
}

.category-selected {
  text-decoration: none;
  display: block;
  padding : 10px;
  text-align: left;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
  font-weight: bold;
  background-color: #0080ef;
}

.category:hover {
  font-weight: bold;
  background-color: #1090ff;
}

.posts {
  background-color: #ffffff;
}

.posts-list {
  list-style: none;
}

.posts-list-item {
  text-align: left;
  cursor: pointer;
}

.posts-list-item:hover {
  font-weight: bold;
}

.post {
  text-align: left;
  margin-left: 0em;
  margin-bottom: 8px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 1em;
  border-color: #cecede;
  display: block;
  text-decoration: none;
}

.post:hover {
  background-color: #eeeeee;
}

.post-title {
  font-size: 1em;
  color: #196fe0;
}

.post-body {
  font-size: 0.85em;
  margin-top: 8px;
  color: #3e4346;
}

.post-attributes {
  font-size: 0.8em;
  margin-top:10px;
  text-align: right;
  color: black;
}

.post-attribute {
  margin-right: 10px;
}

.menu-item-right {
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-submit-post {
  background-color: orange;
  font-size: 1em;
  padding: 10px;
  color: #eeeeee;
}

.sort-panel {
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-input-control {

  font-size: 1em;
  border-radius: 6px;
  margin-bottom: 1em;
  padding : 6px;
  width: 100%;
}

.form-button-control {
  font-size: 1em;
  border-radius: 6px;
  margin-bottom: 1em;
  padding : 6px;
}

.loading-btn-class {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.post-detail {

  padding: 2em;
}
.post-detail-title {
  font-size: 1.3em;
  color: #196fe0;
  text-align: left;
  margin-bottom: 1em;
}



.post-detail-comments {

  margin-top: 3em;
  background-color: #d3e8f5;
  border-radius: 6px;

}
.post-detail-comment {

  //border-style: solid;
  //border-color: grey;
  border-radius: 6px;
  border-width: 2px;
  padding: 6px;
  text-align : left;
  margin-bottom: 10px;
  font-size: 0.9em;
  padding-left: 2em;
  //background-color: #eeeeee;

}

.comment-options {
  padding-left: 3em;
  padding-top : 1.2em;
  vertical-align: middle;
}

.comment-icon {
  font-size: 1.2em;
  margin-right: 1.8em;
}

.comment-input-box {
  width: 100%;
  padding: 8px;
  margin: 5px;
}

.comment-input {
  width: 90%;
  padding: 8px;
  border-radius: 6px;
  border-width: 1px;
  border-color: grey;
  margin: 5px;
  font-size: 0.8em;
  display: block;
}

.comment-post-button {
  padding:10px;
  border-radius: 6px;
  background-color: #5bc0de;
  font-size: 1em;
  display: block;
  margin: 5px;
  width: 6em;
}

.comment-inline-edit {
  width: 70%;
  padding: 8px;
  border-radius: 6px;
  border-width: 1px;
  border-color: grey;
  margin: 5px;
  font-size: 0.8em;
  display: block;
}

.comment-inline-btn {
  padding:6px;
  border-radius: 6px;
  font-size: 0.8em;
  display: block;
  margin: 5px;
  width: 6em;
}

.comment-post-button-div {

  text-align: left;
  margin-left:
}

.post-detail-vote {
  display: inline-block;
  border-color: blue;
  //border-style: solid;
  width: 6%;
}

.post-detail-votescore {
  background-color: #ff7b06;
  color: white;
  //border-style: solid;
  border-color: green;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 1.8em;
}

.post-detail-details-row {
  border-color: red;
  //border-style: solid;
}

.post-detail-body {
  font-size: 1em;
  color: black;
  text-align: left;
  //border-style: solid;
  display: inline-block;
  width: 92%;
  vertical-align: top;
  padding-top: 1.8em;
  padding-left: 1em;
}

.post-detail-options-row {
  border-color: red;
  //border-style: solid;
  font-size: 0.8em;
  color: #555555;
  text-align: right;
  line-height: 2em;
  vertical-align: middle;
  margin-right: 5em;
}