/* Styles common */

.App {
  text-align: center;
}

.App-header {
  background-color: #337ab7;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: left;
  display: block;
  text-decoration: none;
  color: white;
}

.App-title:hover {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left-nav {
  width: 18%;
  display: inline-block;
  margin-top: 1em;
  height: 40em;
  vertical-align: top;
  border-color: red;
  border-style: solid;
}

.center-frame {
  width: 78%;
  display: inline-block;
  margin-top: 1em;
  margin-left: 2em;
  //border-color: red;
  //border-style: solid;
}

/* Category nav styles */
.category {
  text-decoration: none;
  display: block;
  padding : 0.8em;
  text-align: left;
  background-color: #63b5e8;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 0.6em;
}

.category:hover {
  font-weight: bold;
  background-color: #1090ff;
}

.category-selected {
  text-decoration: none;
  display: block;
  padding : 0.9em;
  text-align: left;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 0.6em;
  font-weight: bold;
  background-color: #0080ef;
}

/* Post styles */

.menu-item-right {
  text-align: right;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn-add-post {
  background-color: orange;
  border-color: orange;
  font-size: 1em;
  padding: 0.8em;
  color: white;
}

.sort-panel {
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 0.8em;
  font-weight: bold;
}

.post {
  text-align: left;
  margin-bottom: 1em;
  border-radius: 0.5em;
  border-width: 1px;
  border-style: solid;
  padding: 1em;
  border-color: #cecede;
  display: block;
  text-decoration: none;
}

.post:hover {
  background-color: #eeeeee;
}

.post-title {
  font-size: 1em;
  color: #196fe0;
}

.post-body {
  font-size: 0.9em;
  margin-top: 0.7em;
  color: #3e4346;
}

.post-info-row {
  font-size: 0.8em;
  margin-top: 0.9em;
  text-align: right;
  color: black;
}

.post-info {
  margin-right: 0.8em;
}


/* Create Post Form */
.form-input-control {
  font-size: 0.8em;
  border-radius: 6px;
  margin-bottom: 1em;
  padding : 6px;
  width: 100%;
  border-color: #85c0e4;
  border-width: 1px;
}

.form-button-control {
  font-size: 1em;
  border-radius: 6px;
  margin-bottom: 1em;
  padding : 6px;
}

textarea.form-input-control {
  height: 8em;
}

select.form-input-control {
  display: inline-block;
  width: fit-content;
}

.submit-form span {
  font-size: 0.8em;
  font-weight: bold;
}

.loading-btn-class {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

/* Post Detail Styles */
.post-detail {
  padding: 2em;
}

.post-detail-title {
  font-size: 1.3em;
  color: #196fe0;
  text-align: left;
  margin-bottom: 1em;
}

.post-detail-comments {
  margin-top: 3em;
  background-color: #d3e8f5;
  border-radius: 6px;
}

.post-detail-comment {
  border-radius: 6px;
  border-width: 2px;
  padding: 6px;
  text-align : left;
  margin-bottom: 10px;
  font-size: 0.8em;
  padding-left: 2em;
}

.comment-options {
  padding-left: 3em;
  padding-top : 1.2em;
  vertical-align: middle;
}

.comment-option {
  font-size: 0.9em;
  margin-right: 1.8em;
}

.comment-option svg {
  font-size: 1.5em;
}

.comment-option svg:hover {
  color : blue;
}

.comment-input-box {
  width: 100%;
  padding: 8px;
  margin: 5px;
}

.comment-input {
  width: 90%;
  padding: 8px;
  border-radius: 6px;
  border-width: 1px;
  border-color: grey;
  margin: 5px;
  font-size: 0.8em;
  display: block;
}

.comment-post-button {
  padding:10px;
  border-radius: 6px;
  background-color: #5bc0de;
  font-size: 1em;
  display: block;
  margin: 5px;
  width: 6em;
}

.comment-inline-edit {
  width: 70%;
  padding: 8px;
  border-radius: 6px;
  border-width: 1px;
  border-color: grey;
  margin: 5px;
  font-size: 0.8em;
  display: block;
}

.comment-inline-btn {
  padding:6px;
  border-radius: 6px;
  font-size: 0.8em;
  display: block;
  margin: 5px;
  width: 6em;
}

.comment-post-button-div {
  text-align: left;
  margin-left:
}

.post-detail-vote {
  display: inline-block;
  border-color: blue;
  width: 6%;
}

.post-detail-votescore {
  background-color: #ff7b06;
  color: white;
  border-color: green;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 1.8em;
}

.post-detail-details-row {
  border-color: red;
}

.post-detail-body {
  font-size: 1em;
  color: black;
  text-align: left;
  display: inline-block;
  width: 92%;
  vertical-align: top;
  padding-top: 1.8em;
  padding-left: 1em;
}

.post-detail-options-row {
  border-color: red;
  font-size: 0.8em;
  color: #555555;
  text-align: right;
  line-height: 2em;
  vertical-align: middle;
  margin-right: 5em;
}

.post-detail-delete-btn {
  background-color: #d9534f;
  border-color: #d43f3a;
  padding: 8px;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.post-detail-edit-title-input {
  font-size: 1.3em;
  color: #196fe0;
  text-align: left;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 10px;
  border-width: 1px;
  width: 80%;
}

.post-detail-edit-body-input {
  font-size: 1em;
  color: black;
  text-align: left;
  display: inline-block;
  width: 80%;
  vertical-align: top;
  border-radius: 6px;
  padding: 5px;
  border-color: grey;
  border-width: 1px;
}

.update-btn {
  padding: 8px;
  border-radius: 6px;
  margin-left: 1em;
  vertical-align: top;
}